
@font-face {
    font-family:poppins ;
    src: url("./Fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
    font-family:poppin ;
    
    src: url("./Fonts/Poppins/Poppins-Bold.ttf");
}
.homepage{
    background-color: black;
    color: rgb(255, 255, 255);
    
    
}
.main{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    padding: 5%;
    
}
.right img{
    height: 90vh;
}
.left h1{
    font-size:3.5rem;
    font-weight: 600;
    margin-bottom: 10vh;
    font-family:poppin;
}
.left{
    justify-content: center;
    text-align: center;
    

}
.left h2{
    font-size:2.5rem;
    font-weight: 400;
    font-family:poppins;
}
.left span{
    color: rgb(247, 48, 147);
}
.abbgcolor{
    background-color:black;
    height: 100%;
}


.tabs {
    min-height: 200px;
    position: relative;
    /* background: white; */
    margin: 50px 0px 30px 5px;
    clear: both;

}

.tab {
    float: left;
    font-size:large;
}

.tab label {
    margin-left: 10px;
    position: relative;
    left: 8px;
    top: -22px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    left: 0;
    /* border-top: 2px solid #D2D9E6; */
    top: 3px;
    right: 0;
    bottom: 0;
    padding: 22px;
    opacity: 0;
}

.tabs [type=radio]:checked~label {
    /* background: white; */
    z-index: 0;
    border-bottom: 2px solid rgb(247, 48, 147);
}

.tabs [type=radio]:checked~label~.content {
    z-index: 0;
    opacity: 1;
}

.educont{
color: white;
}
.eduhead{
    color:white;
}
.aboutsec{
    color: white;
}

.exper{
    color: white;

}

.aboutp{
 
}
.abouth{
    font-size: 2rem;
    color: rgb(247, 48, 147);
    font-weight: 700;
}
.check{
    cursor: pointer;
}